@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.neutral.950');
  color: theme('colors.white');
  /*noinspection CssUnresolvedCustomProperty*/
  font-family: var(--font-geist-sans), sans-serif;
}